html {
  box-sizing: border-box;
  color: white;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

button {
  background-color: #D1D4F4;
  border-radius: 10px;
  font-weight: 700;
  padding: 1rem 2rem;
  text-transform: uppercase;
}

.container-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
  width: 100%;
}

.container-display {
  padding: 2rem 0rem;
}

.container-bottom-half {
  align-content: center;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 2rem;
  padding: 3rem;
}

.container-head {
  align-items: center;
  background-color: #3A69D2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3rem;

}

.container-master {
  margin: auto;
  padding: 4rem;
  position: relative;
  transition: 500ms;
  width: 60%;
}

.container-predisplay {
  border-bottom: 2px solid white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-submit {
  padding-bottom: 2rem;
}

.display {
  border-bottom: solid 2px white;
  margin-bottom: 2rem;
  padding: 3rem 0rem 3rem 0rem;
}

h1 {
  font-size: 2vw;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.price>.price-results {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.price-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.service-results {
  margin-bottom: 2rem;
}

.submit {
  background-color: #3A69D2;
  color: white;
}

@media screen and (max-width: 1050px) {
  .container-master {
    padding: 0rem;
    width: 100%;
  }
}

/*--------------------- Modal --------------------------*/
.modal {
  display: none;
  flex-direction: column;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal--container {
  align-content: center;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .2);
  border: 10px rgba(255, 255, 255, .7) double;
  border-radius: 10px;
  display: flex;
  filter: drop-shadow(0 0 0.75rem #3A69D290);
  flex-direction: column;
  height: 40vh;
  justify-content: space-evenly;
  margin: auto;
  padding: 2rem;
  position: relative;
  width: 40%;
}

.modal-close {
  background-color: azure;
  border-radius: 5px;
  display: block;
  position: fixed;
  padding: 7px;
  top: 10px;
  right: 10px
}

.modal--container>h1 {
  text-align: center;
}

.modal--button-container {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  justify-content: center;
  padding-top: 1rem;
}